In [25]:
import os
import pandas as pd

# Chemin du dossier contenant les fichiers de données
dossier_datasets = "data"

# Liste des fichiers dans le dossier
fichiers = os.listdir(dossier_datasets)

# Filtrer les fichiers CSV
fichiers_csv = [fichier for fichier in fichiers if fichier.endswith(".csv")]

# Parcourir chaque fichier CSV et afficher les informations
for fichier in fichiers_csv:
    chemin_fichier = os.path.join(dossier_datasets, fichier)
    print(f"Informations pour le fichier : {fichier}")
    # Charger le fichier CSV dans un DataFrame
    df = pd.read_csv(chemin_fichier)
    
      # Afficher les premières lignes du DataFrame
    print("Premières lignes :")
    print(df.head())
    print()

    print("Informations sur le DataFrame :")
    print(df.info())
    print()

Informations pour le fichier : olist_customers_dataset.csv
Premières lignes :
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

Informations pour le fichier : olist_geolocation_dataset.csv
Premières lignes :
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

Informations pour le fichier : olist_orders_dataset.csv
Premières lignes :
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

Informations pour le fichier : olist_order_items_dataset.csv
Premières lignes :
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

Informations pour le fichier : olist_order_payments_dataset.csv
Premières lignes :
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

Informations pour le fichier : olist_order_reviews_dataset.csv
Premières lignes :
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

Informations pour le fichier : olist_products_dataset.csv
Premières lignes :
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

Informations pour le fichier : olist_sellers_dataset.csv
Premières lignes :
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

Informations pour le fichier : product_category_name_translation.csv
Premières lignes :
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

Question 1 : Méthodes supervisées pour la segmentation marketing

Il existe plusieurs méthodes des algorithmes non supervisés: <br>
-Méthode de K-moyennes  <br>
-Clustering hiérarchique  <br>
-Analyse en composantes principales (ACP)  <br>
-Classification K-Means  <br>
-Classification des documents   <br>

Question 4 : Quels clients payent le plus de frais de livraison ?

In [26]:
dossier = "datasets"

### Exploration de données

In [27]:
df_items = pd.read_csv(f"{dossier}/olist_order_items_dataset.csv")
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [28]:
df_orders = pd.read_csv(f"{dossier}/olist_orders_dataset.csv")
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [29]:
df_orders["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

### Nettoyage de données

##### Renommer les colonnes

In [30]:
df_items = df_items.rename(columns={
    'order_id': 'identifiant_commande',
    'order_item_id': 'identifiant_article_commande',
    'product_id': 'identifiant_produit',
    'seller_id': 'identifiant_vendeur',
    'shipping_limit_date': 'date_limite_expedition',
    'price': 'prix',
    'freight_value': 'valeur_fret'
})

# Renommer les colonnes
df_orders = df_orders.rename(columns={
    'order_id': 'identifiant_commande',
    'customer_id': 'identifiant_client',
    'order_status': 'statut_commande',
    'order_purchase_timestamp': 'timestamp_achat_commande',
    'order_approved_at': 'commande_approuvee_a',
    'order_delivered_carrier_date': 'date_livraison_transporteur_commande',
    'order_delivered_customer_date': 'date_livraison_client_commande',
    'order_estimated_delivery_date': 'date_livraison_estimee_commande'
})

Nous allons d'abord enlever les doublons

In [31]:
# Suppression des doublons dans order_items
df_items = df_items.drop_duplicates()

# Suppression des doublons dans orders
df_orders = df_orders.drop_duplicates()

### Filtrage des données

Nous allons supprimer tout les frais livraison qui coute 0 euros et nous devons appliquer des clients qui ont été bien livrés leur produit

In [32]:
df_delivered_orders = df_orders.loc[df_orders["statut_commande"] == "delivered"]

### Taille des données

In [33]:
print(df_items.shape)
print(df_orders.shape)
print(df_delivered_orders.shape)

(112650, 7)
(99441, 8)
(96478, 8)

### Jointure des données à partir de la table order_id

Nous allons faire une jointure des données sur l'order id pour déterminer quels clients payent les frais de livraison pour chaque produit

In [34]:
# Jointure INNER JOIN à partir de la table order_id
merged_data = pd.merge(df_items, df_delivered_orders, on='identifiant_commande')

merged_data.head()

,identifiant_commande,identifiant_article_commande,identifiant_produit,identifiant_vendeur,date_limite_expedition,prix,valeur_fret,identifiant_client,statut_commande,timestamp_achat_commande,commande_approuvee_a,date_livraison_transporteur_commande,date_livraison_client_commande,date_livraison_estimee_commande
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00

Nous allons calculer le montant total des frais de livraison pour chaque client et de déterminer le montant le plus cher des frais de livraison

In [35]:
# Calcul du montant total des frais de transport pour chaque client
total_freight_per_customer = merged_data.groupby('identifiant_client')['valeur_fret'].sum()

# Créer un DataFrame pour les identifiants des clients et les frais de livraison
df_sorted_customers = pd.DataFrame({'identifiant_client': total_freight_per_customer.index,
                                    'valeur_fret': total_freight_per_customer.values})

df_sorted_customers = df_sorted_customers.loc[(df_sorted_customers["valeur_fret"] > 80) & (df_sorted_customers["valeur_fret"] < 250)]

# Trier les clients par montant total des frais de livraison
df_sorted_customers = df_sorted_customers.sort_values(by='valeur_fret', ascending=False)

# Affichage des premières lignes du nouveau DataFrame
df_sorted_customers.head()

                     identifiant_client  valeur_fret
5198   0df0d96998ff63a976f5ef546accdc84       249.30
65580  ad9e8236c07bc00edfcd2f7805ceb771       249.08
68743  b5da4b7204f9f98370ad8fd878ce0e9c       245.75
78117  ce8154e2083db0e68b12d0a13d6770fc       245.25
96266  ff73a759cba534dba02faaffdeb00e61       244.34

### Normalisation des données


On souhaite de normaliser les frais de livraison puisqu'on a besoin de déterminer le cluster des clients en n segments

In [36]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Normalisation des données
scaler = StandardScaler()
X = scaler.fit_transform(df_sorted_customers[['valeur_fret']])

### Utilisation du clustering K-means

On utilisera l'algorithme de K-means pour déterminer des groupes de clients similaires en fonction du montant total des frais de livraison. Par exemple, il peut identifier un groupe de clients qui paient des frais de livraison élevés, un groupe de clients avec des frais de livraison moyens, et un groupe de clients avec des frais de livraison bas.

In [37]:
# Clustering des clients en 20 segments
kmeans = KMeans(n_clusters=3, random_state=42)
df_sorted_customers['segment'] = kmeans.fit_predict(X)

In [45]:
import numpy as np

df_sorted_customers['class'] = np.random.randint(0, 3, size=len(df_sorted_customers))  # Ajout de la classe aléatoire

                     identifiant_client  valeur_fret  segment  class
5198   0df0d96998ff63a976f5ef546accdc84       249.30        2      0
65580  ad9e8236c07bc00edfcd2f7805ceb771       249.08        2      1
68743  b5da4b7204f9f98370ad8fd878ce0e9c       245.75        2      2
78117  ce8154e2083db0e68b12d0a13d6770fc       245.25        2      1
96266  ff73a759cba534dba02faaffdeb00e61       244.34        2      2
...                                 ...          ...      ...    ...
33988  5a7346263920ecab0f88da703bbaf3b1        80.08        0      1
66121  aef2b3b4d4558d1dcdb092339601fb58        80.07        0      0
71765  bd9dab220a858d41057ab2a01737851e        80.04        0      2
76896  cb3caf08929ebfa13fdcffec28f3cd6f        80.04        0      0
90114  ee9ad961a9e77d12ff4536208539ce17        80.04        0      0

[1861 rows x 4 columns]

### Visualisation des données sur Dash


Dans cette visualisation, on peut identifier un groupe de clients qui paient des frais de livraison élevés, un groupe de clients avec des frais de livraison moyens, et un groupe de clients avec des frais de livraison bas.
Les clients qui paient des frais de livraison élevés peuvent bénéficier de programmes de fidélisation ou de promotions spéciales pour encourager des achats répétés.

Donc à l'utilisation de K-means permet aux entreprises de mieux comprendre leur base de clients, d'adapter leurs stratégies commerciales en conséquence, et d'optimiser leurs opérations pour répondre aux besoins et aux comportements des clients.

In [61]:
import dash
from dash import dcc, html
import plotly.express as px

# Initialisation de l'application Dash
app = dash.Dash(__name__)

# Supposons que vous ayez une colonne 'valeur_fret' dans votre dataframe 'df_sorted_customers'

# Définition des plages de valeurs de frais
seuils = [80,150,200,250]  # Vous pouvez ajuster ces seuils selon vos données

# Définition des catégories de frais en fonction des plages
categories = ['bas', 'milieu', 'élevés']

# Assigner une catégorie à chaque ligne en fonction de la valeur de 'valeur_fret'
df_sorted_customers['categorie_frais'] = pd.cut(df_sorted_customers['valeur_fret'], bins=seuils, labels=categories, right=False)

# Création de la visualisation avec une taille de figure plus grande
fig = px.scatter(df_sorted_customers, y='valeur_fret', color='categorie_frais', color_discrete_map={'bas': 'darkgreen', 'milieu': 'darkblue', 'élevés': 'darkred'},
                 labels={'valeur_fret': 'Montant total des frais de livraison'},
                 title="Segmentation des clients par frais de livraison")

fig.update_layout(
    xaxis=dict(title=None, visible=False),
    yaxis=dict(title="Montant total des frais de livraison en Reais (RIs)"),
    width=800, height=600,  # Taille de la figure
)

# Mise en forme de l'application Dash
app.layout = html.Div([
    html.H1("Visualisation graphique sur le profil des clients"),
    dcc.Graph(id='segmentation-graph', figure=fig)
])

# Exécution de l'application Dash
if __name__ == '__main__':
    app.run_server(debug=True)